@import '../../../assets/sass/variables';

$size: 32.1rem;

.create-new-set-btn {
  position: absolute;
  bottom: 6rem;
  right: 6rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  background: $color-blue;
  border-radius: 50%;
  box-shadow: rgba($color-blue, .45) 0px 1px 0.5rem 0px;
  transition: .2s;
  z-index: 1000;

  &:hover{
    transform: translateY(-.5rem);
    border: 1px solid $color-blue;
    background: transparent;

    span{
      color: $color-blue;
    }
  }

  span{
    width: 100%;
    font-size: 4rem;
    height: 100%;
    color: $color-white;
    font-weight: 100;
  }
}

.navigation-page {
  display: flex; position: relative;

  .chosen-subpage {
    padding-left: 22%;
    width: 100%;
    min-height: 100vh;
    overflow-y: overlay;
  }

}
