@import '../../assets/sass/variables';


.addwrapperforcollectionspage{
  width: 30%;
  background: white;

  float: left;
  justify-content: center;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

  .add-info{
    display: flex;
    justify-content: center;
    padding-top: 5rem;

    .col-amount-info{
      width: 80%;
      height: 13rem;
      align-items: center;
      justify-content: center;
      display: flex;
      box-shadow: 0 0 5px 0 rgba(0,0,0,.15);

      &__text{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span:nth-last-child(1), span:nth-last-child(3){
          font-size: 1.3rem;
        }

        span:nth-last-child(2){
          font-size: 2rem;
          margin: .5rem 0;
        }
      }

      &__icon{
        width: 40%;
        height: 40%;
        fill: $color-blue;
        align-self: center;
      }
    }
  }
}