@import '../../assets/sass/variables';

.card{
  min-width: 35rem;
  max-height: 15%;
  //height: 15rem;
  background: $color-white;
  position: relative;
  margin-top: 5rem;

  &__main-info-wrapper{
    float: left;
    width: 90%;
    padding: 1rem 0 0 3rem;
  }

  &__title{
    margin-top: 1rem;

    &__input{
      width: 80%;
    }

    h1{
      font-size: 1.4rem;
      margin: 0;
    }
  }

  &__desc{
    margin-top: 1rem;
    &__input{
      width: 80%;
    }

    p{
      margin: .5rem 0 0;
    }
  }

  &__controls{
    position: relative;
    background: $color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 10%;
    height: 100%;
  }

  &__editing-btn,  &__remove-btn{
    width: 2.7rem;
    height: 2.7rem;
    transition: .2s;

    svg {
      width: 100%;
      height: 100%;
      fill: $color-white;
    }

    &:hover{
        opacity: .5;
    }
  }


  &__remove-btn{
    position: absolute;
    bottom: 1rem;
  }

  &__editing-btn{
    margin-top: 1rem;
  }

  &:not(:first-child){
    margin-left: 5rem;
  }
}
