@import '../../../assets/sass/variables';

.login-page{
  height: 100vh;
  width: 100vw;
  background: url("../../../images/juli-bg.jpg") no-repeat;


  .login-sec {
    display: flex;
    justify-content: flex-end;

    &__form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40rem;
      padding: 4rem 3rem;
      margin: 14rem 25vw 0 0;
      background: $color-bg-lightgrey;

      .pass-recovery{
        display: flex;
        align-items: center;
        justify-content: center;

        a{
          font-size: 1.3rem;
          margin-right: .4rem;
          text-decoration: none;
          color: $color-blue;
        }
      }
    }

    &__login, &__pass {
      height: 3rem;
      width: 27rem;
      outline: none;
      border: none;
    }

    &__pass {
      margin-top: .7rem;
    }
  }
}
