@import '../../../assets/sass/variables';

.collection-page{
  height: 100%;
  background: $color-bg-lightgrey;

  &__header{
    clear: both;
    display: table;
    width: 100%;
    height: 20%;
    background: $color-white;
    clip-path: polygon(0 0, 100% 0, 100% 18rem, 0 8rem);

    .collection-editing-btn {
      width: fit-content;
      margin-top: 1.5rem;
      margin-left: 3rem;
      position: absolute;
      top: 1rem;

      button {
        height: 3.5rem;
        width: 3.5rem;
        transition: .2s;

        &:hover svg{
          opacity: 1;
        }

        svg {
          width: 100%;
          height: 100%;
          opacity: .5;
          fill: #3f3f3f;
        }
      }
    }

    .collection-title {
      display: flex;
      padding-left: 5rem;
      float: right;
      margin-right: 10rem;
      margin-top: 5rem;

      &__wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        h2 {
          float: left;
          font-size: 2rem;
          margin: 0 0 1rem 0;
        }

        span{
          font-size: 1.2rem;
        }
      }

    }

    .collection-title-editing{
      &__wrapper{
        position: absolute;
        right: 5rem;
        top: 6rem;

        form{
          display: flex;
          align-items: center;

/*          .change-title-input{
            width: 30rem;
            outline: none;
            border: none;
            background: transparent;
            border-bottom: 1px solid $color-bg-darkgrey;
            color: $color-bg-darkgrey;
          }*/

          .change-title-btn{
            background: linear-gradient(45deg, #fff000 0%,#00b4f7 98%);
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
            margin: 0 2rem;
            opacity: .8;
            transition: .3s;

            svg{
              width: 100%;
              height: 100%;
              fill: $color-white;
            }

            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }


  .cards{
    display: flex;

    padding-left: 5rem;
    /* padding-top: 3rem; */
    height: 80%;
  }
}
