.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 6rem;

  &__logo{
    width: 8rem;

    img{
      height: 100%;
      width: 100%;
    }
  }

  &__auth-panel{
    .btn{
      height: 4rem;
      width: 10rem;
      background: none;
      outline: none;
      color: grey;
      border: 1px solid grey;
      transition: .2s;

      &:hover{
        opacity: .8;
      }
    }
  }
}
