@import '../../../assets/sass/variables';

.settings-page{
  height: 100%;
  background: $color-bg-lightgrey;

  .l-wrapper {
    width: 65%;
    float: left;
    padding: 5rem 0 0 5rem;

    .email-change, .password-change {
      margin-top: 5rem;
    }

    .name-change, .email-change, .password-change {
      width: fit-content;
      padding: 2rem;
    }

    input {
      width: 25rem;
    }

    .name-change {

    }

    .email-change {

    }

    .password-change {
      .old-pass {

      }

      .new-pass {
        margin-left: 2rem;
      }
    }
  }

  .r-wrapper{
    width: 35%;
    height: 25rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(100% 0, 0 0rem, 100% 100%);
    background: white;

    padding-left: 17%;
    padding-bottom: 5%;

    button{
      transition: .1s;
      height: 3.5rem;
      width: 12rem;
      color: $color-bg-darkgrey;

      &:hover{
        border: 1px solid #ff2f25;
        background: transparent;
        color: #ff2f25;
      }
    }
  }
}
