@import '../../../assets/sass/variables';

.collections-page{
  background: $color-bg-lightgrey;
  min-height: 100%;

  .wrapper1{
    display: grid;
    width: 70%;
    float: left;
  }


  &__searching {
    grid-area: 1 / 1;
    background: white;
    height: 17rem;
    width: 74rem;
    clip-path: polygon(0 0, 0 16rem, 100% 0);
    padding: 4rem;
  }

  &__collections-list{
    grid-area: 1 / 1;
    margin-top: 10rem;
    z-index: 1000;

    padding-left: 4rem;
  }

}
